/* --------------------COLORS-------------------- */

// Theme Colors
$primary-theme-color: #f8a900;

// Background Colors
$primary-background-color: white;
$primary-background-color-dark: whitesmoke;

// Text Colors
$primary-text-color: #f8a900;

// Button Colors
$primary-button-color: #f8a900;
$primary-button-color-dark: #a36f00;
